html{
	margin: 0;
}
.txt{
	font-size: 20px;
	font-family: Fjord One;
}
.imghh{
	width: 15%;
	height: 20%;
	margin-top:10px;
}
.hh{
	position: relative;
	padding-left: 250px;
	top: -360px;
	color: #142F43;
	font-size: 30px;
	font-style: italic;
	font-family: Fjord One;
}
.imgch{
	width: 15%;
	height: 20%;
	float: right;
	margin-top: -200px;
}
.ch{
	position: relative;
	right: 40px;
	color: #142F43;
	font-size: 30px;
	font-style: italic;
	font-family: Fjord One;
	text-align: right;
	top: -160px;
}
.imgms{
	width: 15%;
	height: 20%;
	margin-top: -20px;
}
.ma{
	position: relative;
	padding-left: 250px;
	top: -400px;
	color: #142F43;
	font-size: 30px;
	font-style: italic;
	font-family: Fjord One;
}

.imgrk{
	width: 15%;
	height: 20%;
	float: right;
	margin-top: -210px;
}
.rk{
	position: relative;
	right: 40px;
	color: #142F43;
	font-size: 30px;
	font-style: italic;
	font-family: Fjord One;
	text-align: right;
	top: -160px;
}
#srn{
	font-family: Alegreya SC;
	color: #142F43;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
}
footer{
	margin-top: 100px;
	background-color: gray;
	opacity: .6;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	padding: 3px;
	padding-bottom: 40px;
}
#fh, #fa, #fp, #fw{
	text-decoration: none;
	color: #F2DDC1;
}
h1{
	text-align:center;
	font-family: Georgia;
	font-size: 37px;
	color: #A45D5D;
	background-color: #FAF3F3;
	margin-top: -9px;
	padding-bottom: 15px;
	padding-top: 15px;
}
nav a{
	float: left;
	width: 260px;
	height: 40px;
	background-color: #A7BBC7;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	padding: 3px;
	display: inline-block;
	text-decoration: none;
	color: white;
	display: block;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 60px;
	padding-right: 55px;
	margin-top: -22px;
}
nav a:hover {
 background-color: #838383;
}
body{
	background-color: #FAF3F3;
}